body {
	/*font-family: Georgia, 'Times New Roman', serif;*/
	color: black;
	background-color: #800000;
}

footer .mui-col-sm-12 {
	clear: both;
	border-top: solid 1px gray;
  margin-bottom: -20px;
	font-size: .9em;
	text-align: center;
}

.mui-container.page {
	/*margin: 0 auto;*/
	border-radius: 20px;
	padding: 20px;
	/*width: 800px;*/
	color: black;
	background-color: white;
}
